
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hello! Super Admin. You have logged in at @DateTime.Now </h1>
    </div>
</body>
</html>
