
@{
    ViewBag.Title = "Add Album";
}

<!--? Hero Start -->
<div class="slider-area2 section-bg2 hero-overly" data-background=@Url.Content("~/Content/img/hero/hero2.png")>
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2">
                        <h2>@ViewBag.Title</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--? Services Area Start -->
<section class="services-area pt-top border-bottom pb-20 mb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <h3 class="mb-30 text-center">Create your free account</h3>
                <form action="AddAlbum" method="post">
                    @Html.AntiForgeryToken()
                    <div class="mt-10">
                        <input type="text" name="albumName" pattern="^[A-Za-z]+$" placeholder="Album Name"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Album Name'" required
                               class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="totalTrack" placeholder="Total tracks number"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Total tracks number'" required
                               class="single-input">
                    </div>
                    <div class="mt-10 text-center">
                        <button type="submit" class="genric-btn primary circle arrow">Create Album<span class="lnr lnr-arrow-right"></span></button>
                    </div>
                </form>
                @if (ViewBag.ErrorMsg != null)
                {
                    <div class="mt-10 text-center">
                        <h4 class="mb-20 text-center" style="color:red;">@ViewBag.ErrorMsg</h4>
                    </div>
                }
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</section>
<!-- Services End -->
