
@{
    ViewBag.Title = "Music Distribution";
}

<!--? Hero Start -->
<div class="slider-area2 section-bg2 hero-overly" data-background=@Url.Content("~/Content/img/hero/hero2.png")>
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2">
                        <h2>Music Distribution</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--? Services Area Start -->
<section class="services-area pt-top border-bottom pb-20 mb-60">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/img/elements/d.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-8 mt-sm-20">
                <p>Store Details</p>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/img/elements/d.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-8 mt-sm-20">
                <p>Store Details</p>
            </div>
        </div><br>


    </div>
</section>
<!-- Services End -->
