
@{
    ViewBag.Title = "Pricing";
}
<!--? Hero Start -->
<div class="slider-area2 section-bg2 hero-overly" data-background="assets/img/hero/hero2.png">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2">
                        <h2>Pricing</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--? Services Area Start -->
<section class="services-area pt-top border-bottom pb-20 mb-60">
    <div class="container">
        <div class="row">
            <!--Single-->
            <div class="col-md-3 mt-sm-30">
                <br>
                <h3 class="mb-20 text-center">Single</h3>
                <ul class="unordered-list">
                    <li><span>Fta Keys</span></li>
                    <li><span>For Women Only Your Computer Usage</span></li>
                    <li><span>Dealing With Technical Support 10 Useful Tips</span></li>
                    <li><span>Make Myspace Your Best Designed Space</span></li>
                    <li><span>Cleaning And Organizing Your Computer</span></li>
                </ul>
                <h1 class="mb-20 text-center">1788 + GST</h1>
                <div class="mt-10 text-center">
                    <a href="#" class="genric-btn primary circle arrow">Buy Now<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-md-1 mt-sm-30"></div>
            <!--Extended Play-->
            <div class="col-md-3 mt-sm-30">
                <br>
                <h3 class="mb-20 text-center">EP</h3>
                <ul class="unordered-list">
                    <li><span>Fta Keys</span></li>
                    <li><span>For Women Only Your Computer Usage</span></li>
                    <li><span>Dealing With Technical Support 10 Useful Tips</span></li>
                    <li><span>Make Myspace Your Best Designed Space</span></li>
                    <li><span>Cleaning And Organizing Your Computer</span></li>
                </ul>
                <h1 class="mb-20 text-center">1788 + GST</h1>
                <div class="mt-10 text-center">
                    <a href="#" class="genric-btn primary circle arrow">Buy Now<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-md-1 mt-sm-30"></div>
            <!--Album-->
            <div class="col-md-3 mt-sm-30">
                <br>
                <h3 class="mb-20 text-center">Album</h3>
                <ul class="unordered-list">
                    <li><span>Fta Keys</span></li>
                    <li><span>For Women Only Your Computer Usage</span></li>
                    <li><span>Dealing With Technical Support 10 Useful Tips</span></li>
                    <li><span>Make Myspace Your Best Designed Space</span></li>
                    <li><span>Cleaning And Organizing Your Computer</span></li>
                </ul>
                <h1 class="mb-20 text-center">1788 + GST</h1>
                <div class="mt-10 text-center">
                    <a href="#" class="genric-btn primary circle arrow">Buy Now<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-md-1 mt-sm-30"></div>
        </div>
    </div>
</section>
<!-- Services End -->