
@{
    ViewBag.Title = "Login";
}

<!--? Hero Start -->
<div class="slider-area2 section-bg2 hero-overly" data-background=@Url.Content("~/Content/img/hero/hero2.png")>
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2">
                        <h2>Sign in</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--? Services Area Start -->
<section class="services-area pt-top border-bottom pb-20 mb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <h3 class="mb-30 text-center">Login to your account</h3>
                <form action="#">
                    <div class="mt-10">
                        <input type="email" name="email" placeholder="Email address"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
                               class="single-input">
                    </div>
                    <div class="mt-20">
                        <input type="password" name="password" placeholder="Password"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                               class="single-input">
                    </div>
                    <div class="mt-20 text-center">
                        <button type="submit" class="genric-btn primary circle arrow">Sign in<span class="lnr lnr-arrow-right"></span></button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        </div>
</section>
<!-- Services End -->